<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <title>Index</title>
</head>
<body>
    <a href="/iush">IUSH</a><br>
    <a href="/preguntas_seguridad">FORMULARIO SEGURIDAD FISICA Y DE ENTORNO</a><br>
    <a href="/preguntas_gestion">FORMULARIO GESTION DE COMUNICACIONES Y OPERACIONES</a><br>
    <a href="/preguntas_control">FORMULARIO CONTROL DE ACCESO</a><br>
    <a href="/preguntas_adquisicion">FORMULARIO ADQUISICIÓN, DESARROLLO Y MANTENIMIENTO DE SISTEMAS DE INFORMACIÓN</a><br>
</body>
</html>