<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilo_formulario.css">
    <title>Control_de_acceso</title>
</head>

<body>
    <div class="row">

        <div class="col l2"></div>

        <div class="col s12 m12 l8">
            <div class="card formulario">

                <div class="card-action blue white-text center-align">
                    CONTROL DE ACCESO
                </div>

                <div class="card-content">
                    <div class="row">
                        <form class="col s12">
                            <div class="row pregunta">
                                <div class="col s8">
                                    <label>
                                        Preguntas
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <span>Si</span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col s8">
                                    <label>
                                        1. ¿Existe un procedimiento formal para el registro y cancelación de usuarios en la empresa?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta1" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta1" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        2. ¿Se restringe y controla la asignación y uso de privilegios?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta2" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta2" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        3. ¿Las contraseñas se asignan con un tipo formal de gestión?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta3" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta3" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        4. ¿El escritorio y pantalla mantienen despejados?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta4" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta4" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        5. ¿Se emplea el uso de VPN para el acceso a usuarios remotamente?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta5" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta5" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        6. ¿Tienen y manejan protección en los puertos de configuración y diagnostico remoto?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta6" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta6" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        7. ¿Existe la separación en las redes entre servicios de información, usuarios y sistemas de información?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta7" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta7" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        8. ¿Presentan un control de enrutamiento en la red?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta8" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta8" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        9. ¿Poseen procedimientos de acceso seguro al sistema operativo?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta9" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta9" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        10. ¿Los usuarios o empleados presentan un ID unico para el uso presonal?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta10" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta10" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        11. ¿Poseen sistema de gestión de contraseñas?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta11" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta11" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        12. ¿Suspenden las sesiones inactivas?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta12" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta12" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        13. ¿Utilizan limitaciones en los tiempos de conexión?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta13" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta13" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        14. ¿Los sistemas sensibles tienen un entorno informatico dedicado?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta14" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta14" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        15. ¿Presentan politicas, planes operativos y procedimientos para las actividades de trabajo remoto?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta15" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta15" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-field right-align">
                                    <button class="btn waves-effect blue" type="submit" name="">Enviar
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l2"></div>
    </div>
</body>

</html>