<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilo_formulario.css">
    <title>Seguridad_fisica_y_entorno</title>
</head>

<body>
    <div class="conteiner">
        <div class="row">
            <div class="col l2"></div>
            <div class="col s12 m12 l8">
                <div class="card-panel">
                    <h4 class="titulo">
                        <span>
                            SEGURIDAD FISICA Y DE ENTORNO
                        </span>
                    </h4>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        1. ¿La empresa cuenta con perimetos de seguridad tales como: paredes, puertas de acceso controladas con tarjeta o mostradores
                                        de recepción atendidos?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>Si</span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        2. ¿Las areas seguras tiene controles de acceso apropiado para autorizar el paso solo a personal autorizado?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>Si</span>
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        3. ¿Tienen diseñado y aplicado la seguridad fisica para las oficinas, recintos e instalaciones?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>Si</span>
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        4. ¿Tiene instalado seguridad contra eventos ambientales como incendio, inundación, terremoto, explosión, manifestaciones
                                        sociales y otras formas de desastre natural o artificial?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>Si</span>
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        5. ¿Aplica las directrices para trabajar en areas seguras?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>Si</span>
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        6. ¿Possen algun tipo de seguridad y control en los lugares donde puede ingresar personal no autorizado?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>Si</span>
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        7. Respecto a la pregunta anterior, ¿Estos accesos estan lejos de los lugares donde se maneja la información de la empresa?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>Si</span>
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        8. ¿Los equipos se encuentran protegidos ante eventos ambientales o fallas de energia u otras anomalias
                                        causadas por fallas en el suministro de servicios?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>Si</span>
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        9. ¿El cableado electrico y de telecomunicaciones se transporta de manera segura, es decir, utilizan 
                                        canalestas o tuberias?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>Si</span>
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        10. ¿Realizan mantenimientos a sus equipos? Ver los reportes.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>Si</span>
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input type="checkbox" />
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Enviar
                                            </font>
                                        </font>
                                        <i class="mdi-content-send right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col l2"></div>
        </div>
    </div>
</body>

</html>