<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilo_formulario.css">
    <title>Gestión</title>
</head>

<body>
    <div class="row">

        <div class="col l2"></div>

        <div class="col s12 m12 l8">
            <div class="card formulario">

                <div class="card-action blue white-text center-align">
                    GESTION DE COMUNICACIONES Y OPERACIONES
                </div>

                <div class="card-content">
                    <div class="row">
                        <form class="col s12">
                            <div class="row pregunta">
                                <div class="col s8">
                                    <label>
                                        Preguntas
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <span>Si</span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col s8">
                                    <label>
                                        1. ¿Presentan la documentacion de los procedimientos de operaciones?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta1" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta1" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        2. ¿Tienen dividida las instalaciones de desarrollo, ensayo y operacion?, se pide con el fin de evitar cambios no autorizados
                                        en el sistema operativo.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta2" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta2" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        3. ¿Tienen dividida las areas de responsabilidad?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta3" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta3" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        4. ¿Se cumple el control de prestación de servicios que son operados por las terceras partes?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta4" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta4" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        5. ¿Realizan seguimiento y adaptación del uso de los recursos de la empresa?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta5" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta5" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        6. ¿Se implementan controles de detención, prevención y recuperación para protegerse de códigos maliciosos?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta6" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta6" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        7. ¿Se verifica y controla el mapeo de códigos moviles?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta7" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta7" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        8. ¿Se realizan copias de respaldo de la información del software?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta8" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta8" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        9. ¿Se llevan controles en la red?
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta9" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta9" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        10. ¿Hay seguridad en los servicios de red de la empresa?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta10" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta10" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        11. ¿La empresa cuenta con procedimientos para el manejo y almecenamiento de la información contra la divulgación 
                                        no autorizada?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta11" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta11" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        12. ¿La documentación del sistema esta protegida contra acceso no autorizado?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta12" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta12" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        13. ¿Poseen politicas y procedimientos para el intercambio de información entre el personal 
                                        de la empresa, externos entre otros, sea de manera digital o fisica?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta13" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta13" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        14. ¿Manejan controles en la información involucrada en el comercio electronico y 
                                        transaciones en linea?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta14" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta14" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        15. ¿La empresa elabora y mantiene grabaciones de los registros para la auditoria de las actividades de los usuarios?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta15" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta15" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        16. ¿Las fallas se resgistran y analizan para tomar acciones adecuadas?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta16" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta16" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s8">
                                    <label>
                                        17. ¿Los relojes dentro de la red se la organización estan sincronizados?.
                                    </label>
                                </div>
                                <div class="col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta17" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class=" col s2">
                                    <label>
                                        <input class="with-gap" name="pregunta17" type="radio" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-field right-align">
                                    <button class="btn waves-effect blue" type="submit" name="">Enviar
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l2"></div>
    </div>
</body>

</html>